header {
	margin: 5px 0;
	display: inline-flex;
	justify-content: flex-end;
}

@media screen and (min-width: 1100px) {
	header img {
		width: 25%;
		height: 75px;
	}
}

/* MOBILE Styles for Header */
@media screen and (max-width: 1100px) {
	header img {
		width: 75%;
		height: 75px;
	}
}
