//desktop

.thirdCol {
	width: 33%;
}

.twoThirdCol {
	width: 66%;
}

.halfCol {
	width: 50%;
}

.quarterCol {
	width: 25%;
}

.nearHalf {
 width: 48%;
}

//tablet

@media screen and (max-width: 600px) {
	.tablet-eighty-col {
		width: 80%;
	}

	.tablet-tenth-col{
		width: 10%;
	}


}

.stack {
	display: block;


}

.inline {
	display: inline-block;
}
