/*h2 and p settings modified for screen size*/
#infinite-scroll {
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
	text-align: center;

	p {
		margin: 20px 5% 25px 5%;
	}

	a {
		text-decoration: none;
		color: $primary;
		&hover {
			color: $secondary;
		}
	}

	.blog-post {
		margin-bottom: 100px;
	}

	@media screen and (max-width: 760px) {
		h2 {
			font-size: 2em;
		}

		p {
			font-size: 1.25em;
			font-weight:lighter;
		}
	}

	@media screen and (max-width: 425px) {
		h2 {
			font-size: 1.5em;

		}

		p {
			font-size: 1em;
		}
	}
}
