@import "modules/colors";

#program-highlights {
	text-align: center;
	margin-top: 150px;
	margin-bottom: 50px;
	h1 {
		color: $primary;
	}
	h2 {
		font-size: 1.5em;
	}
	p {
		margin-bottom: 100px;
	}
	a {
		text-decoration: none;
		color: $primary;
		font-size: 1.75em;
		&:hover {
			color: $secondary;
		}
	}
	img {
		width: 100%;
	}

}
