@import "modules/colors";

body{
  font-family: "Futura", "Nunito", Arial, sans-serif;
	color: $secondary;
	font-weight: lighter;
	max-width: 1400px;
	text-align: center;
	width: 100vw;
}

html {
  background: url(./../imgs/darkman-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.5em;
	@media screen and (max-width: 550px){
	font-size: 1.25em;
	}
}

p {
	font-size: 1.25em;
	font-weight:lighter;
	color: $secondary;
	@media screen and (max-width: 550px){
	font-size: 1em;
	}
}
